# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env

# Editor & OS files
*.log
.DS_Store
.vscode/
.idea/

# Testing/coverage
.coverage
htmlcov/
pytest_cache/

# SQLite (if used)
*.sqlite3